* {
    padding: 0;
    margin: 0;
    position: relative;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color:#E8E2DB;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #fda085;
}

.add-btn {
    padding: 12px 20px;
    background-color: #fda085;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.add-btn:hover {
    background-color: #e68a6f;
}
